@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Mono", sans-serif;
  background-color: #f7f7f7;
}

h1 {
  margin-bottom: 12px;
}

/* .card {
  bo
} */

@media (min-width: 640px) {

  .card {
  border: 4px solid #222;

  width: 450px;
  margin: 40px;
  }
}

.card::after {
  content: "";
  display: block;
}

.avatar {
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease;
}

.avatar > img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

.data {
  padding: 32px;
  padding-top: 24px;
}

.skill-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 16px;
}

.skill {
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  background-color: antiquewhite;
  border: 1px solid black;
  font-size: .875rem;
  line-height: 1rem;
  padding: 4px 12px;
}

.skill img {
  width: 1rem;
}
